.container {
  min-height: 100vh;
  height: 100vh;
  width: 100vw;
  padding: 0 0.5rem;
  overflow: hidden;
  position: relative;
}

.tomiBtn {
  position: absolute;
  transition: 300ms ease all;
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
  width: 80vw;
  height: 80vw;
  left: 50%;
  top: 50%;
  margin-left: -40vw;
  margin-top: -40vw;
}

.btnInner {
  position: relative;
}

.tomiBtn img {
  max-width: 100%;
  max-height: 100%;
}

.counter {
  position: absolute;
  top: 36%;
  left: 50%;
  width: 100%;
  margin-left: -50%;
  z-index: 999;
  font-size: 175%;
  text-align: center;
}
